/** @format */

.Modal {
	position: fixed;
	z-index: 200;
	width: 70%;
	left: 15%;
	top: 20%;
	background-color: white;
	padding: 15px;
	box-shadow: 0 2px 3px rgba(240, 240, 240, 0.6);
	border-radius: 5px;
	transition: all 0.4s ease;
}

.Modal.Show {
	animation: slideDown 0.4s 1 forwards;
}

@keyframes slideDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}
