/** @format */

.Sidebar {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	position: relative;
	min-width: 200px;
	height: 403px;
	overflow-y: scroll;
}
.Sidebar::-webkit-scrollbar {
	display: none;
}