/** @format */

.SidebarItem {
	display: flex;
	align-items: center;
	font-size: 13px;
	cursor: pointer;
	padding: 10px;
	color: #444;
	transition: all 0.3s ease;
	border-bottom: 1px solid #ddd;
}
.SidebarItem:hover,
.SidebarItem.Active {
	background-color: var(--secondary-color);
	color: white;
}

.SidebarItem svg {
	margin-right: 5px;
}
