/** @format */

.SidebarItemCategories {
	position: absolute;
	top: -3px;
	left: 210px;
	background-color: white;
	width: 78.7vw;
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #ccc;
	height: 101%;
	z-index: 8;
}
.Close {
	float: right;
	position: relative !important;
	top: 5px !important;
	right: 5px !important;
}
